@import 'guide/*'

body, html
  margin 0
  padding 0
  background-color blue-charcoal

body, button, input, select, textarea
  font-s1()

.clear
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

.page-enter-active
  transition opacity 0.3s ease 0s
.page-leave-active
  transition opacity 0.3s ease 0.1s
.page-enter, .page-leave-to
  opacity 0
  > .hero > .hero-title
    transform translate(-20px, -50%)
    opacity 0

.page-enter, .page-leave
  position absolute

.hero
  width 100vw
  height 100vh
  background-repeat no-repeat
  background-size cover
  position relative
  transition all 0.6s ease
  .hero-title
    color white
    font-h3()
    position absolute
    top 50%
    left 50px
    transform translate(0px, -50%)
    width 780px
    transition all 0.3s ease-in

