@import 'guide/*'

body, html
  margin 0
  padding 0
  background-color blue-charcoal
  overflow-x hidden
  &.is-clipped
    overflow hidden !important

body, button, input, select, textarea
  font-s1()

.clear
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie

.pages
  min-height 100vh
.page-enter-active
  transition 0.4s ease-in 
.page-leave-active
  transition 0.4s ease-in 0.2s
.page-enter, .page-leave, .page-leave-to
  opacity 0
  > .hero > .hero-title
    transform translate(-20px, -50%)
    opacity 0

.page-enter, .page-leave
  position absolute

.hero
  width 100vw
  height 100vh
  background-repeat no-repeat
  background-size cover
  background-position 50% 50%
  position relative
  overflow hidden
  transition all 0.6s ease
  &.hero-above-fold
    height 50vh
    min-height 400px
    > .hero-title
      bottom 30px
      top auto

.hero-background
  position absolute
  width 100vw
  height 100vh
  object-fit cover

.hero-title
  color white
  font-h3()
  position absolute
  top 50%
  left 50px
  transform translate(0px, -50%)
  width 780px
  transition all 0.3s ease-in

.hero-cta
  position absolute
  bottom 10%
  left 50px

.hero-gradient
  width 100vw
  height 100vh
  position absolute
  background linear-gradient(65deg, rgba(black, 0.7), transparent)
  tplr()

.hero-svg
  position absolute
  left -200px
  bottom -320px
  width 600px
  height 600px
  path
    fill vulcan


@media all and (min-width: 1px) and (max-width: 1000px)
  .hero
    .hero-title
      font-h4()
      left 20px
      right 20px
      width auto

.section
  padding 90px 0
  &.section-story
    background-color not-white
    .title
      margin 0 0 60px 0
  &.section-team
    background-color blue-charcoal
    .title
      color white
      margin 0 0 60px 0
  &.section-openings
    padding 60px 0 0 0
    color white
    background-repeat no-repeat
    background-size cover
    background-position 65% 65%
    background-size 240%
    background-color fire-bush
    background-blend-mode soft-light
    .cta-button
      margin-top 60px
      margin-bottom 60px
  &.section-team,
  &.section-openings,
    text-align center
    position relative
  .title
    font-h4()
    text-align center
    inViewportBottom(0)
  .cta-button
    inViewportBottom(0.1)


