@font-face
  font-family Nudista
  src url(/nudista/regular.otf) format('opentype')
  font-weight normal

@font-face
  font-family Nudista Bold
  src url(/nudista/bold.otf) format('opentype')
  font-weight normal

font-s1()
  font-family Nudista
  font-size 23px

font-s2()
  font-family Nudista
  font-size 16px

font-s3()
  font-family Nudista
  font-size 10px

font-h1()
  font-family Nudista Bold
  font-size 60px

font-h2()
  font-family Nudista
  font-size 22px
  line-height 24px
