@keyframes fadeIn
  from
    transform translate(0, 20px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1

@keyframes scaleIn
  from
    transform scale(3)
    opacity 0
  to
    transform scale(1)
    opacity 1
