.animodal-enter-active, .animodal-leave-active
  transition opacity 0.5s ease 0s

.animodal-enter-active .demo-content, .animodal-leave-active .demo-content
  transition transform 0.4s ease 0.1s, opacity 0.4s ease 0.1s
.animodal-leave-active .demo-content
  transition transform 0.2s ease 0s, opacity 0.2s ease 0s

.animodal-enter, .animodal-leave-to
  opacity 0
  .demo-content
    transform scale(0.9)
    opacity 0

.fade-enter-active
  transition opacity .5s ease 0s

.fade-leave-active
  transition opacity .2s ease 0s

.fade-enter, .fade-leave-to
  opacity 0

.fil-enter-active
  transition opacity 0.6s ease-in-out 0.2s
  div:nth-child(1)
    transition transform 0.4s ease-in-out 0.2s
  div:nth-child(2)
    transition transform 0.4s ease-in-out 0.25s
.fil-leave-active
  transition opacity 0.2s ease-in-out 0s
  div
    transition transform 0.2s ease-in-out 0s

.fil-enter, .fil-leave-to
  opacity 0

.fil-enter div
  transform translate(10px, 0)

.fil-leave-to div
  transform translate(-4px, 0)

