.animodal-enter-active, .animodal-leave-active
  transition opacity 0.5s ease 0s

.animodal-enter-active .demo-content, .animodal-leave-active .demo-content
  transition transform 0.4s ease 0.1s, opacity 0.4s ease 0.1s
.animodal-leave-active .demo-content
  transition transform 0.2s ease 0s, opacity 0.2s ease 0s

.animodal-enter, .animodal-leave-to
  opacity 0
  .demo-content
    transform scale(0.9)
    opacity 0

.fade-enter-active
  transition opacity .5s ease 0.3s

.fade-leave-active
  transition opacity .5s ease 0s

.fade-enter, .fade-leave-to
  opacity 0
