fire-bush = #f29220
white = #ffffff
blue-charcoal = #262d33
cinder = #212733
not-white = #ededed
vulcan = #33393E
mountain-mist = #939393
midnight-express = #222937

carrot-orange = #f29220
chilean-fire = #d55f29
carrot-fire = linear-gradient(90deg, carrot-orange 0%, chilean-fire 100%)
